@import "../../variables/variables";

.makeup__header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $mainBG;
    font-family: 'Garamond';
    font-weight: bold;
    width: 100%;
    height: 78px;
    z-index: 999;

    div {
        padding: 20px 0;
    }

    &_menu {
        nav ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: auto;
            padding: unset;

            li {
                padding: 0 20px;
            }
        }

        .mobile-menu {
            display: none;

            nav {
                display: none;
                z-index: 2;

                ul {
                    position: relative;
                    margin: 0;
                    padding: 4px 24px 36px;
          
                    li {
                        padding: 32px 0 0;
            
                        &:first-child {
                            padding: 20px 0 0;
                        }
                    }
          
                    ul {
                        padding: 0 10px;
            
                        li {
                            padding: 20px 0 0;
                        }
                    }
          
                    a {
                        border: none;
                    }
                }
          
                  &>ul::after {
                        content: "";
                        position: absolute;
                        left: 24px;
                        bottom: 0;
                        width: 132px;
                        height: 1px;
                        background-color: #565656;
                }
            }

            .header-toggle {
                visibility: hidden;
                display: none;
        
                &~nav {
                    flex-direction: column;
                    text-align: end;
                }
            
                &:checked~nav {
                    display: block;
                    color: $mainText;
                    background-color: $mainBG;
                    font-weight: 500;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: start;
                    flex-direction: column;
                    width: 100%;
        
                    ul {
                        flex-direction: column;
                    }
                }
            }

            label {
                svg {
                    max-width: 24px;
                    max-height: 18px;
                    cursor: pointer;
                    visibility: hidden;
                    display: none;
                    margin: 15px;
                    position: absolute;
                    top: 10px;
                    z-index: 10;
                }
            }
        }

        @media screen and (max-width: $max-tablet-width) {
            .mobile-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .header-toggle {
                    &~label .opened-menu {
                            display: none;
                            visibility: hidden;
                        }

                    &~label .closed-menu {
                        display: block;
                        visibility: visible;
                    }

                    &:checked~label {
                        .opened-menu {
                            display: block;
                            visibility: visible;
                        }

                        .closed-menu {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
            
            .desktop-menu {
                display: none;
            }
        }
    }
}