@import "../../variables/variables";

.makeup__header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $mainBG;
    font-family: 'Garamond';
    font-weight: bold;
    width: 100%;
    height: 78px;
    z-index: 999;

    div {
        padding: 20px 0;
    }

    &_menu {
        nav ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: auto;
            padding: unset;

            li {
                padding: 0 20px;

                a {
                    text-decoration: none;
                    color: $mainLightGround;
                    font-size: 24px;
                    transition: 0.5s linear;

                    &:hover {
                        color: $white;
                        fill: $white;

                        svg, path, g {
                            transition: 0.5s linear;
                            fill: $white;
                        }
                    }

                    @media screen and (max-width: $max-extra-lg-desktop-width) {
                        font-size: 18px;

                        svg {
                            max-width: 24px;
                            max-height: 24px;
                        }

                        &:active {
                            color: $white;
                            fill: $white;

                        svg, path, g {
                            transition: 0.5s linear;
                            fill: $white;
                        }
                        }
                    }
                }
            }
        }
    }
}