@import "../../../variables/variables";

.home__services {
  // background: linear-gradient(180deg, $white 0%, $mainBlue 60%, $mainText 100%);
  background: linear-gradient(to bottom, rgb(255, 255, 255, 0.5), rgba(1, 85, 106, 1)), right / contain no-repeat url("../../../../assets/images/webp/work-02.webp");

  &_container {
    padding: 0 40px;

    &-title {
      text-align: center;

      p {
        font-style: italic;
        padding: 20px 0;
      }
    }

    &-content {

      &--images {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
          padding: 10px 0;
          max-width: 500px;
          max-height: 600px;
        }
      }

      &--link {
        padding: 60px 0;
      }
    }
  }

  @media screen and (max-width: $max-extra-lg-desktop-width) {
    &_container {
      padding: 0 20px;
  
      &-content {
        &--images {
          img {
            max-width: 400px;
            max-height: 400px;
          }
        }
      }
    }
  }
}