<section class="home__services" id="home-services">
  <div class="home__services_container">
    <div class="home__services_container-title">
      <h3>Услуги</h3>
      <p>"И какого хера я сейчас скумборию ем, а не работаю?"</p>
    </div>
    <div class="home__services_container-content">
      <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Образ за час">
          <img src="../../../../assets/images/webp/hair-makeup-03.webp" alt="Образ за час">
          <img src="../../../../assets/images/webp/work-07.webp" alt="Образ за час">
        </mat-tab>
        <mat-tab label="Макияж и укладки">
          <img src="../../../../assets/images/webp/hair-makeup-02.webp" alt="Макияж и укладки">
          <img src="../../../../assets/images/webp/hair-makeup-05.webp" alt="Макияж и укладки">
        </mat-tab>
        <mat-tab label="Оформление/долговременная укладка бровей">
          <img src="../../../../assets/images/webp/brows.webp" alt="Оформление/долговременная укладка бровей">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>