<section class="home__top">
  <div class="home__top_container">
    <div class="home__top_container-image">
      <img src="../../../../assets/images/webp/artist.webp" alt="MakeUp Artist image">
    </div>
    <div class="home__top_container-info">
      <div class="home__top_container-info--title">
        <h3>
          Make<span class="animated-color">Up</span> Artist
        </h3>
      </div>
      <div class="home__top_container-info--description">
        <h5>
          "Чем я занимаюсь на работе?"
          <br>(хотелось бы ничем)
        </h5>
        <p>
          Наношу косметику на лицо и волосы. 
        </p>
        <p>
          Берем человека (мужчину или женщину) рисуем новое лицо, делаем из мочалки (неухоженных волос) красивую укладку.
        </p>
      </div>
    </div>
  </div>
</section>