@import "../../../variables/variables";

.home__top {
  margin-top: 78px;
  background: linear-gradient(180deg, $mainBG 0%, $white 30%);

  @media screen and (max-width: $max-extra-lg-desktop-width) {
    margin-top: 76px;
  }

  &_container {
    display: flex;
    color: $mainText;

    &-image {
      max-height: 700px;
      max-width: 50%;
      text-align: center;

      img {
        height: 100%;
        max-width: 100%;
        -webkit-mask: linear-gradient(to bottom, black, transparent);
        filter: blur(0)
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--title {

        .animated-color {
          background: linear-gradient(to right, $mainText 20%, $mainPink 45%, $mainPink 60%, $mainText 80%);
          background-size: 200% auto;
          animation: anim-color 3s infinite;
          background-clip: text;
          text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &--description {
        margin: 0 40px;

        h5 {
          text-align: center;
        }

        @media screen and (max-width: $max-extra-lg-desktop-width) {
          margin: 0 0 0 20px;
        }

        h5 {
          margin: 20px 0;
        }

        p {
          margin: 10px 0;
        }
      }
    }
  }
}

@keyframes anim-color {
  to {
    background-position: 200% center;
  }
}