/* Colors */
$white: #ffffff;
$black: #000000;
$mainText: #01556a;
$mainBG: #0195ae;
$mainBlue: #85c8de;
$mainLightText: #b1daea;
$mainLightGround: #dae5ea;

/* Bootstrap breakpoints */
$max-ultra-width-desktop-width: 1919.98px;
$min-extra-lg-desktop-width: 1440px;
$max-extra-lg-desktop-width: 1439.98px;
$min-lg-desktop-width: 1280px;
$max-desktop-width: 1279.98px;
$min-desktop-width: 992px;
$max-tablet-width: 991.98px;
$min-tablet-width: 768px;
$max-landscape-width: 767.98px;
$min-landscape-width: 576px;
$max-mobile-width: 575.98px;
$max-i-width: 320px;