/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/stylesheet.css';
@import './app/variables/variables';
@import "@coreui/coreui/scss/coreui";

html { scroll-behavior: smooth; }
html, body { height: 100%; }
body { margin: 0; font-family: 'Gotham Pro'; color: $mainText }
h1,h2,h3,h4,h5,h6 { font-family: 'Garamond'; margin: 0; font-weight: bold; }
p, span { margin: 0; }

section {
  padding: 40px 200px;
}

h3 {
  font-size: 48px;
  padding: 50px 0;
}

h5 {
  font-size: 28px;
}

p {
  font-size: 22px;
}

.mdc-tab__text-label {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Garamond';
}

.mat-mdc-tab-body-content {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &::-webkit-scrollbar {
    width: 0;
  }
}


@media screen and (max-width: $max-extra-lg-desktop-width) {
  section {
    padding: 40px 100px;
  }
  
  h3 {
    font-size: 40px;
    padding: 40px 0;
  }
  
  h5 {
    font-size: 24px;
  }
  
  p {
    font-size: 18px;
  }

  .mdc-tab__text-label {
    font-size: 17px;
  }
}
